{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PATIENT FORM</title>
    <link rel="stylesheet" href="{% static 'patient.css' %}" />
  </head>
  <body>
    <h2>PATIENT FORM</h2>
    {% if user.is_authenticated %}
    <p>Hello User: {{ request.user }}</p>
    <form method="post">
      {% csrf_token %} {{ formp.as_p }}
      <button type="submit">SUBMIT</button>
      <button type="button"><a href="{% url 'logout' %}">LOGOUT</a></button>
    </form>
    {% else %}
    <p>Please Login</p>
    <a href="login">LOGIN</a>

    {% endif %}
  </body>
</html>
